@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Pacifico&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

$myColor: yellow;
$flex: flex;
$primaryColor: #060c14;
$whiteColor: #fff;
$logoSize: 1.3em;
$mainFont: "Poppins", sans-serif;

body {
  margin: 0;
}

// Navigation
.MainComponent {
  color: $myColor;
}

// .Logo {
//   width: 30%;
//   font-size: 1.2em;
// }

// .LogoSpace {
//   margin-left: 10%;
// }

.Navigation {
  display: $flex;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

.DeskTopLogo {
  display: none;
}

.MobileLogo {
  font-size: $logoSize;
  color: $primaryColor;
  font-family: $mainFont;
  padding-left: 5%;
  line-height: 40%;
}

.MobileLogoDiv {
  width: 90%;
  background-color: $whiteColor;
  margin-left: 5%;
  height: 40px;
  border-radius: 32px;
  margin-top: 2%;
}

.MenuContents {
  display: none;
}

.MobileMenuBottom {
  position: fixed;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
  border: 1px solid red;
}

.MobileMenuBottom.hidden {
  transform: translateY(100%);
}

.MobileMenuContents {
  display: $flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.BannerPart {
  height: 100vh;
  background-color: $primaryColor;
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  margin-top: 0;
}

.BannerContent {
  margin-top: 30%;
  width: 90%;
  margin-left: 5%;
}

.BannerTopText {
  color: $whiteColor;
  font-family: $mainFont;
  width: 55%;
  font-size: 0.9em;
  margin-bottom: 0;
}

.BannerMainText {
  color: $whiteColor;
  font-weight: 700;
  font-family: $mainFont;
  font-size: 2.2em;
  width: 90%;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.BannerBottomText {
  margin-top: 0;
  color: $whiteColor;
  width: 90%;
  font-size: 0.9em;
}

.FormSection {
  margin-top: 80%;
}

.FormFieldLabel {
  width: 100%;
}

.FormField {
  width: 100%;
  border: none;
}

// .MessagePart {
//   display: flex;
//   background-color: ;
// }

.BannerPart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  // background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

@media (min-width: 768px) {
  .MobileMenuBottom {
    display: none;
  }

  .MobileLogoDiv {
    display: none;
  }

  .DeskTopNav {
    width: 80%;
    display: $flex;
    margin-top: 1%;
    margin-left: 10%;
    background-color: #060c14;
    justify-content: space-between;
    border-radius: 32px;
    padding: 0 1%  0 1%;
  }

  .BannerPart {
    height: 100vh;
    background-image: url("./assets/banner1-image.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 10%;
    margin-top: 0;
  }

  .DeskTopLogo {
    display: block;
    font-size: $logoSize;
    color: $whiteColor;
  }

  .MobileLogo {
    display: none;
  }

  .MenuContents {
    display: $flex;
    width: 30%;
    color: $whiteColor;
  }

  .MenuItems {
    display: $flex;
    list-style: none;
    width: 100%;
    justify-content: space-between;
  }

  .BannerContent {
    margin-left: 10%;
    margin-top: 6%;
  }

  .BannerTopText {
    color: $primaryColor;
    font-family: $mainFont;
    font-size: 1em;
    margin-bottom: 0;
  }

  .BannerMainText {
    color: $primaryColor;
    font-weight: 700;
    font-family: $mainFont;
    font-size: 4em;
    width: 50%;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
  }

  .BannerBottomText {
    margin-top: 0;
    width: 37%;
  }

  .FormSection {
    margin-top: 21%;
    margin-left: 20%;
    width: 50%;
    background-color: #868689;
    border-radius: 32px;
    padding: 0 1% 0 1%;
  }

  .SearchForm {
    display: $flex;
    justify-content: space-around;
    padding: 2% 0 2% 0;
    // border: 1px solid red;
  }

  .FormField {
    border-radius: 50px;
    padding: 3% 0 3% 0;
  }

  .FormFieldLabel {
    color: $primaryColor;
    font-weight: 700;
    margin-left: 2%;
    border-radius: 10px;
  }

  .FormInput {
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 3% 0 3% 0;
  }

  .SearchButton {
    color: #fff;
    background-color: #ff7625;
    border: none;
    width: 20%;
    border-radius: 50%;
    font-size: 1.5em;
    padding: 2% 2% 2% 2%;
    cursor: pointer;
  }

  .SecondContainer {
    margin-top: 10%;
  }

  .Ttile {
    text-align: center;
    color: $primaryColor;
    font-family: $mainFont;
    font-size: 1.7em;
  }

  .UnderLine {
    width: 5%;
    margin-top: 0%;
    border: 2px solid #ff7625;
  }

  .LatestPost {
    display: $flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
  }

  .PropertyCard {
    width: 20%;
    border: 2px solid $primaryColor;
    padding: 1%;
    border-radius: 10px;
    margin-top: 2%;
    margin-bottom: 3%;
  }

  .CardContent {
    font-family: $mainFont;
    color: $primaryColor;
    text-decoration: none;
  }

  .CardLink {
    text-decoration: none;
  }

  .CardImage {
    object-fit: contain;
    width: 100%;
    height: 90%;
    border-radius: 20px;
  }

  .ImageCardDiv {
    height: 45%;
  }

  .CategoryTag {
    width: 25%;
    background-color: #ff7625;
    color: $primaryColor;
    font-family: $mainFont;
    font-weight: 500;
    padding: 0 2%;
    border-left: 10px solid transparent;
    border-bottom-right-radius: 15px;
    transform: skew(-15deg);
  }

  .CardTiltle {
    font-weight: 700;
  }

  .CardPrice {
    font-weight: 700;
  }

  .TimeTag {
    font-size: 0.7em;
  }

  .MoreDeatils {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
// Navigation
