$myColor: yellow;
$flex: flex;
$primaryColor: #4f7942;

body {
  margin: 0;
}

// Navigation
.MainComponent {
  color: $myColor;
}

.Logo {
  width: 30%;
  font-size: 1.2em;
  margin-left: 10%;
}

.LogoSpace {
  margin-left: 10%;
  border: 1px solid red;
}

// .Naviagation {
//   display: none;
// }

.Navigation {
  display: $flex;
  position: absolute;
  // background-color: #4f7942;
  padding: 0;
  margin: 0;
}

.MenuContents {
  display: none;
}

.MobileMenuBottom {
  position: fixed;
  background-color: #fff;
  width: 100%;
  bottom: 0;
  transition: transform 0.3s ease-in-out;
  border: 1px solid red;
}

.MobileMenuBottom.hidden {
  transform: translateY(100%);
}

.MobileMenuContents {
  display: $flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.BannerPart {
  height: 100vh;
  background-image: url("./assets/banner-image.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 10%;
  border: 1px solid red;
  margin-top: 0;
}

// .MessagePart {
//   display: flex;
//   background-color: ;
// }

.BannerPart::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1; 
}

@media (min-width: 768px) {
  .MobileMenuBottom {
    display: none;
  }

  .MenuContents {
    display: $flex;
    width: 70%;
    justify-content: space-around;
  }

  .MenuItems {
    display: $flex;
    list-style: none;
    width: 30%;
    justify-content: space-between;
  }

  .SearchForm {
    margin-top: 2%;
    width: 50%;
  }

  .SearchInput {
    width: 80%;
    height: 60%;
    border-radius: 8px;
    border: none;
    padding-left: 2%;

    &:focus {
      /// box-shadow: 0 0 5px rgba(81, 203, 238, 1) !important;
      border: 1px solid rgba(81, 203, 238, 1) !important;
    }
  }

  .SubmitButton {
    margin-left: 2%;
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
  }
}
// Navigation
